<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Avtalskunder</title>
  <script>
    //retunerar true om value är numerisk sträng eller nummer  annars false.
    function isNumeric(value) {
      return !isNaN(parseFloat(value)) && isFinite(value);
    }

    let sortDirection = ['asc', 'asc', 'asc', 'asc'];
    function sortTable(columnIndex) {
      let table, rows, switching, i, shouldSwitch;
      table = document.querySelector("table");
      switching = true;
      //Detta är en array som håller reda på riktningsordningen för sortering ('asc' för stigande, 'desc' för fallande)
      sortDirection[columnIndex] = sortDirection[columnIndex] === 'asc' ? 'desc' : 'asc';

      while (switching) {
        switching = false;
        rows = Array.from(table.rows).slice(1);

        rows.sort((a, b) => {
          let x = a.cells[columnIndex].textContent.trim();
          let y = b.cells[columnIndex].textContent.trim();

          if (columnIndex === 3 && isNumeric(x) && isNumeric(y)) {
            //numeriska värden
            return sortDirection[columnIndex] === 'asc' ? (parseInt(x) - parseInt(y)) : (parseInt(y) - parseInt(x));
          } else {
      //localeCompare används för att jämföra två strängar (x och y) baserat på angivet språk ('sv' för svenska).
            return sortDirection[columnIndex] === 'asc' ? x.localeCompare(y, 'sv') : y.localeCompare(x, 'sv');
          }
        });
//läggser de sorterade raderna tillbaka i tabellen enligt den nya ordningen
        //Loopen fortsätter tills inga fler omarrangeringar krävs (switching blir false).
        rows.forEach((row, index) => {
          if (table.rows[index + 1] !== row) {
            table.tBodies[0].appendChild(row);
            switching = true;
          }
        });
      }
    }
  </script>
</head>
<body>
<h1>Avtalskunder</h1>
<table>
  <form method="GET">
    Search:
    <input type="text" name="q" value="<?php echo $q; ?>" />

  </form>
  <thead>
  <tr>
    <th><button onclick="sortTable(0)">Företagsnamn</button></th>
    <th><button onclick="sortTable(1)">Kontaktnamn</button></th>
    <th><button onclick="sortTable(2)">Country</button></th>
    <th><button onclick="sortTable(3)">ID</button></th>
  </tr>
  </thead>
  <tbody>
  <!-- Loopa igenom avtalskunder och skapa länkar för varje kund -->
  <tr th:each="customer : ${contractCustomers}">
    <td><a th:href="@{'/avtalskund?id=' + ${customer.id}}" th:text="${customer.companyName}"></a></td>
    <td th:text="${customer.contactName}"></td>
    <td th:text="${customer.country}"></td>
    <td th:text="${customer.id}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>